@import "tailwindcss";
@import "tailwindcss-primeui";


#app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

:root{
  --primary-app-color: var(--p-blue-500);
  --secondary-app-color: var(--p-teal-400);
}